<?xml version="1.0"?>
<launch>
    <node name="robot_interface" pkg="rosserial_python" type="serial_node.py">
        <!-- args="_port:=/dev/ttyUSB0 _baud:=500000"> -->
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="500000" />
        </node>

    <!-- <node if="$(arg lite)" pkg="rosserial_python" name="rosserial_champ" type="serial_node.py"
        output="screen" respawn="true">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="500000" />
    </node> -->
</launch>